/* O css funciona atravez de classes e elementos, 
então se eu quero mudar o estilo de algo 
eu preciso referenciar o nome do elemento ou sua classe */
/* GERALMENTE NO BODY PADRONIZAMOS MARGENS E ESPAÇAMENTOS  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.back-primario {
    background-color: #6CE7E3;
}

.back-secundario {
    background-color: #2e3656;
}

.animal-intro {
    width: 100%;
    position: absolute;
    left: -32px;
    bottom: 0px;
}

.content {
    width: 80%;
}

/*-------------classes de estilização de textos---------*/

/* titulo com cor primaria */
.title-1 {
    color: #2E3656;
}

/* textos de apoio com cor primaria */
.text-info {
    color: #2E3656;
}

/* -------classes para botões------ */
.btn-primary {
    background-color: #2E3656;
    border: none;
    width: 100%;
    height: 55px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
}

/* ------------classes de padrões de margens------------*/
.top1 {
    margin-top: 1vh;
}

.top2 {
    margin-top: 2vh;
}

.top3 {
    margin-top: 2vh;
}

.top4 {
    margin-top: 2vh;
}

.top5 {
    margin-top: 2vh;
}

/* ----------------tela login--------------- */

.back-login {
    background-color: #2E3656;
}

.title-login {
    color: #6CE7E3;
    font-size: 28px;
}

/* -----inputs----- */

.input-email {
    background-color: white;
    border: none;
    width: 100%;
    height: 50px;
    color: #2E3656;
    font-size: 14px;
    font-weight: 100;
    border-radius: 12px;
}

.input-email::placeholder {
    color: #2E3656;
    padding: 15px;
}

.input-senha {
    background-color: white;
    border: none;
    width: 100%;
    height: 50px;
    color: #2E3656;
    font-size: 14px;
    font-weight: 100;
    border-radius: 12px;
}

.input-senha::placeholder {
    color: #2E3656;
    padding: 15px;
}

/* -----botão login----- */

.btn-login {
    background-color: #6CE7E3;
    border: none;
    width: 100%;
    height: 50px;
    color: #2E3656;
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
}

/* -----paragrafos----- */

.paragrafo-1 {
    color: white;
    font-size: 13px;
    font-weight: 100;
}

.paragrafo-2 {
    color: white;
    font-size: 12px;
    text-align: right;
    font-weight: 100;
}

.paragrafo-3 {
    color: white;
    font-size: 12px;
    font-weight: 100;
}

.paragrafo-4 {
    color: white;
    font-size: 10px;
    text-align: center;
    font-weight: 100;
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
}